a:link, a:visited {
    background-color: turquoise;
    color: white;
    padding: 10px 14px 10px 30px;
    margin: 5px 5px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;
  }
  
  a:hover, a:active {
    background-color: blue;
  }

  img {
    padding: 0 -8px;
    border: 1px solid black;
    margin: 0 8px;
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto
    }

    ul, div {
      text-align: center;
      display: inline;
      list-style-image: url('https://image.flaticon.com/icons/svg/884/884183.svg');
      list-style-position: inside;
      margin-left: 0;
      padding-left: 1em;
      text-indent: -1em;
   }